<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        {{#if isLoggedIn}}
        <a class="navbar-brand" href="#/home">SoftBay</a>
        <a class="navbar-item" href="#/myObjectsDashbord">Dashboard</a>
        <a class="navbar-item" href="#/createObject">Create Offer</a>
        <a class="navbar-item" href="#/logout">Logout</a>
        <!--BONUS (NOT REQUIRED)-->
        {{!-- <a class="navbar-item" href="#/profilePage">Profile</a> --}}
        <!--BONUS (NOT REQUIRED)-->
        {{else}}
        <a class="navbar-brand" href="">SoftBay</a>
        <a class="btn btn-warning" href="#/login">Login</a>
        {{/if}}
    </div>
</nav>