<div>
    {{!-- <div class="notification loadingBox" id="loadingBox">
        <span>Loading …</span>
    </div>
    <div class="notification infoBox" id="success">
        <span>Info</span>
    </div>
    <div class="notification errorBox" id="error">
        <span></span>
    </div> --}}
<section id="notification">
    <div class="p-3 mb-2 bg-success w-50 text-white text-center" id="success"><span>Success</span></div>
    <div class="p-3 mb-2 bg-danger w-50 text-white text-center" id="error"><span>Error</span></div>
    <div class="p-3 mb-2 bg-info w-50 text-white text-center" id="loadingBox"><span>Loading...</span></div>
</section>
</div>
